@use 'fonts'
@use 'mixins' as *

:root
    @include swatches using ($color, $hex)
        --#{$color}: #{$hex}
    --transition: all 250ms

body
    background-color: var(--dark-700)
    color: var(--ice)
    font-family: Inter, sans-serif
    line-height: 1.6em

ul
    list-style-type: none

img
    object-fit: cover

a, .link, button, .button
    cursor: pointer
    font-weight: 600
    text-decoration: none
    transition: var(--transition)
    outline-offset: .35em

.link
    --text-color: var(--purple-200)
    --text-color--hover: var(--purple-100)
    --text-color--active: var(--purple-100)
    position: relative
    color: var(--text-color)

    &:before
        content: ''
        position: absolute
        left: 0%
        right: 100%
        bottom: -.0625em
        border-top: .125em solid
        transition: var(--transition)

    @include hover
        color: var(--text-color--hover, currentColor)
        &::before
            right: 0%

    @include active
        color: var(--text-color--active)
    
    &-flush::before
        bottom: 0
    
    &-inside
        &::before
            border-top-width: .25em
            border-radius: .125em
            bottom: .25em
            left: .25em
        @include hover
            &::before
                right: .25em

    @include colors using ($color)
        &.text-#{$color}
            --text-color: var(--#{$color}-200)
            --text-color--hover: var(--#{$color}-100)

a
    @extend .link

.button
    --bg-color: var(--purple-300)
    --bg-color--hover: var(--purple-200)
    --bg-color--active: var(--purple-400)
    --text-color: var(--ice-400)
    --text-color--hover: var(--text-color)
    --text-color--active: var(--text-color)

    display: inline-block
    border: .01em solid
    border-radius: .25em
    color: var(--text-color)
    border-color: var(--bg-color)
    background-color: var(--bg-color)
    padding: .25em .5em
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.2)

    &-sm
        padding: .125em .25em
    &-lg
        padding: .5em .75em

    &.link
        &::before
            content: none
        
        --bg-color: transparent
        --bg-color--hover: transparent
        --bg-color--active: transparent
        box-shadow: none

    @include hover
        color: var(--text-color--hover)
        border-color: var(--bg-color--hover)
        background-color: var(--bg-color--hover)
    
    @include active
        color: var(--text-color--active)
        border-color: var(--bg-color--active)
        background-color: var(--bg-color--active)

    @include colors using ($color)
        &.button-#{$color}
            --bg-color: var(--#{$color}-300)
            --bg-color--hover: var(--#{$color}-200)
            --bg-color--active: var(--#{$color}-400)
            --text-color: var(--dark-700)
            @if $color == 'dark'
                --bg-color: var(--dark-600)
                --bg-color--hover: var(--dark-500)
                --bg-color--active: var(--dark-500)
                --text-color: var(--ice-700)
    
    &.button-outline
        background-color: transparent

        @include active
            background-color: var(--bg-color--active)

        @include colors using ($color)
            &.button-#{$color}
                --bg-color--active: var(--#{$color}-200)
                --text-color: var(--#{$color}-400)
                --text-color--hover: var(--#{$color}-200)
                --text-color--active: var(--#{$color}-200)
                @if $color == 'dark'
                    --text-color: var(--ice-700)
                    --text-color--active: var(--ice-500)          
                    --text-color--hover: var(--ice-500)

button
    @extend .button

figure
    margin-block-start: .5em
    margin-block-end: .5em
    margin-inline-start: .5em
    margin-inline-end: .5em

blockquote, .quote
    --marker-color: white

    display: inline-flex
    flex-flow: row
    align-items: center

    margin-block-start: .25em
    margin-block-end: .25em
    margin-inline-start: .25em
    margin-inline-end: .25em

    &::before, &::after
        color: var(--marker-color)
        font-size: 2em

    &::before
        content: "❝"
        float: left
        align-self: flex-start
        line-height: 1em
        margin-inline-end: 1ch

    &::after
        content: "❞"
        float: right
        align-self: flex-end
        line-height: .25em
        margin-inline-start: 1ch

    @include colors using ($color)
        &[marker="#{$color}"]
            --marker-color: var(--#{$color}-300)

figcaption
    margin-inline-start: 4ch
    margin-inline-end: 4ch
    font-style: italic

    &::before
        content: "—"
        margin-inline-end: 1ch

.container
    --max-width: 1440px

    width: 100%
    display: flex
    flex-flow: column
    align-items: center
    padding-block-start: 4em
    padding-block-end: 4em
    padding-inline-start: 2em
    padding-inline-end: 2em

    & > *
        max-width: var(--max-width)
        width: 100%

.list
    list-style: none

.flow
    // Every child element that isn't the first will have style applied with > * + * selector.
    
    // Means that adding "variant='row'" applies margin inline instead,
    // but otherwise normally applies margin block.
    &:not(&-row) > * + *
        margin-block-start: var(--flow-space, 2rem)
        
    &-row > * + *
        margin-inline-start: var(--flow-space, 2rem)

.grid
    --columns: 1
    display: grid
    grid-template-columns: [first] repeat(var(--columns), 1fr) [end]
    gap: 2rem

    @include min-width(md)
        --columns: 2
    
    @include min-width(lg)
        --columns: 3

    @include min-width(xl)
        --columns: 4

.group
    display: flex
    flex-flow: row

    &-inline
        display: inline-flex

    @include breakpoints
        display: flex
        flex-flow: row

        & > *
            flex-grow: 1

    &-inline
        @include breakpoints
            display: inline-flex
