@use './mixins' as *

@include generate-heightwidth-utility('.min-vh', 'min-height', 1vh)
@include generate-heightwidth-utility('.min-vw', 'min-height', 1vw)
@include generate-heightwidth-utility('.min-h', 'min-height')
@include generate-heightwidth-utility('.min-w', 'min-height')
@include generate-heightwidth-utility('.h', 'height')
@include generate-heightwidth-utility('.w', 'height')

.min-w-0
    min-width: 0

.max-w
    &-400
        max-width: 400px

.truncate
    width: 100%
    white-space: nowrap    
    overflow: hidden
    text-overflow: ellipsis

.lineheight
    line-height: 1.25
    @include generate-multipliers () using ($multiplier)
        &-#{$multiplier}
            line-height: 1.25 * $multiplier

.gap
    &-0
        gap: 0

.p
    @include make-directions using ($modifier)    
        @include make-breakpoints
            @include make-increments using ($size)
                @if ($modifier)
                    padding-#{$modifier}: $size
                @else
                    padding: $size

.m
    @include make-directions using ($modifier)
        @include make-breakpoints
            @include make-increments using ($size)
                @if ($modifier)
                    margin-#{$modifier}: $size
                @else
                    margin: $size

.border
    border-width: 1px

    &-ms
        border-inline-start-width: 1px
    
    &-me
        border-inline-end-width: 1px

    &-mt
        border-block-start-width: 1px

    &-mb
        border-block-end-width: 1px

@include generate-color-utility ('.bg', 'background-color')
@include generate-color-utility ('.border', 'border-color')
@include generate-color-utility ('.text', 'color')

.overflow
    @each $overflow-type in $overflow-types
        &-#{$overflow-type}
            overflow: $overflow-type

.position
    &-relative
        position: relative

.aspect
    &-16-9
        aspect-ratio: 16/9

.text
    &-left
        text-align: left
    &-center
        text-align: center
    &-right
        text-align: right

.square
    aspect-ratio: 1

    @include generate-breakpoints () using ($breakpoint)
        &-#{$breakpoint}
            aspect-ratio: 1

.widescreen
    aspect-ratio: 16/9

    @include generate-breakpoints () using ($breakpoint)
        &-#{$breakpoint}
            aspect-ratio: 16/9

.ultrawide
    aspect-ratio: 21/9

    @include generate-breakpoints () using ($breakpoint)
        &-#{$breakpoint}
            aspect-ratio: 21/9

.contain
    object-fit: contain

.rounded
    border-radius: 1em

    &-sm
        border-radius: .25em
    
    &-md
        border-radius: .5em

.icon
    --scale: 2em
    max-height: var(--scale)
    max-width: var(--scale)
    height: 100%
    width: 100%

    &-double
        --scale: 4em

.block
    display: block

    &-inline
        display: inline-block

.flex
    display: flex
    flex-flow: row

    &-wrap
        flex-wrap: wrap
    &-column
        flex-flow: column
    &-inline
        @extend .flex
        display: inline-flex
    &-grow
        flex-grow: 1
        @include generate-multipliers () using ($multiplier)
            &-#{$multiplier}
                flex-grow: $multiplier
        
    &-shrink
        flex-shrink: 1
        @include generate-multipliers () using ($multiplier)
            &-#{$multiplier}
                flex-shrink: $multiplier

.align-items
    @include generate-flex-alignment () using ($alignment)
        &-#{$alignment}
            align-items: $alignment

.justify-content
    @include generate-flex-alignment () using ($alignment)
        &-#{$alignment}
            justify-content: $alignment

.group-align-items-center
    align-items: center