$dark: #2a2d48;
$gold: #F9CD3B;
$green: #86be73;
$ice: #d3d3f7;
$purple: #af7aff;
$red: #fa5d72;

$colors: (
    dark: $dark,
    gold: $gold,
    green: $green,
    ice: $ice,
    purple: $purple,
    red: $red
);

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);

$directions: (
    "x": inline,
    "y": block,
    "s": inline-start,
    "t": block-start,
    "e": inline-end,
    "b": block-end
);

$flex-flex-alignments: start, end, center, space-between, space-around, space-evenly, stretch, baseline;

$fractions: 0, 25, 33, 50, 66, 75, 100;

$heading-sizes: (
    "h1": 2em,
    "h2": 1.5em,
    "h3": 1.1em,
    "h4": 1em,
    "h5": 0.85em,
    "h6": 0.7em
);

$increments: (
    n5: -4em,
    n4: -3em,
    n3: -2em,
    n2: -1em,
    n1: -.5em,
    0: 0,
    1: .5em,
    2: 1em,
    3: 2em,
    4: 3em,
    5: 4em
);

$multiplier_levels: 10;
