$dark: #363535;
$green: #5CB31E;
$ice: #F0F0FF;
$purple: #9146FF;

$colors: (
    dark: $dark,
    green: $green,
    ice: $ice,
    purple: $purple
);

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);

$fractions: 25, 33, 50, 66, 75, 100;

$multiplier_levels: 10;

$increments: (
    n5: -4rem,
    n4: -3rem,
    n3: -2rem,
    n2: -1rem,
    n1: -.5rem,
    0: 0,
    1: .5rem,
    2: 1rem,
    3: 2rem,
    4: 3rem,
    5: 4rem
);

$directions: (
    "x": inline,
    "y": block,
    "s": inline-start,
    "t": block-start,
    "e": inline-end,
    "b": block-end
);

$flex-flex-alignments: start, end, center, space-between, space-around, space-evenly, stretch, baseline;